<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GCWebMaster.Master.cs" Inherits="GCWeb.WebForm.SiteMaster" %>

<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="<%=this.Language %>" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=this.Language %>" dir="ltr">
<!--<![endif]-->
<head runat="server">
    <meta charset="utf-8" />
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title><%: Page.Title %></title>

    <!--[if gte IE 9 | !IE ]><!-->
    <link href="themes-dist-6.0-gcweb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="themes-dist-6.0-gcweb/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
		    <link href="themes-dist-6.0-gcweb/GCWeb/assets/favicon.ico" rel="shortcut icon" />
		
		    <link rel="stylesheet" href="themes-dist-6.0-gcweb/GCWeb/css/ie8-theme.min.css" />
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
		    <script src="themes-dist-6.0-gcweb/wet-boew/js/ie8-wet-boew.min.js"></script>
		    <![endif]-->
    <!--[if lte IE 9]>
	<![endif]-->
    <noscript><link rel="stylesheet" href="themes-dist-6.0-gcweb/wet-boew/css/noscript.min.css" /></noscript>

    <asp:PlaceHolder runat="server"></asp:PlaceHolder>

</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <nav>
            <ul id="wb-tphp">
                <li class="wb-slc">
                    <a class="wb-sl" href="#wb-cont"><%=GetLocalResourceObject("SkipToMainContent")%></a>
                </li>
                <li class="wb-slc">
                    <a class="wb-sl" href="#wb-info"><%=GetLocalResourceObject("SkipToAboutGovernment")%></a>
                </li>
            </ul>
        </nav>
        <header>
            <div id="wb-bnr" class="container">
                <section id="wb-lng" class="text-right">
                    <h2 class="wb-inv"><%=GetLocalResourceObject("LanguageSelection")%></h2>
                    <ul class="list-inline margin-bottom-none">
                        <li><asp:LinkButton ID="lnkLanguage" OnClick="lnkLanguage_Click" runat="server"><%=GetLocalResourceObject("Language")%></asp:LinkButton></li>
                    </ul>
                </section>
                <div class="row">
                    <div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                        <a href="https://www.canada.ca/<%=this.Language %>.html" property="url"><object type="image/svg+xml" data="./MasterPages/themes-dist-6.0-gcweb/GCWeb/assets/sig-blk-<%=this.Language %>.svg" role="img" tabindex="-1"></object><span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
                        <meta property="areaServed" typeof="Country" content="Canada">
                    </div>
                    <asp:PlaceHolder ID="phSearchBar" runat="server">
                        <section id="wb-srch" class="col-lg-8 text-right">
                            <h2><%=GetLocalResourceObject("SearchCanada")%></h2>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="wb-srch-q" class="wb-inv"><%=GetLocalResourceObject("SearchCanada")%></label>
                                    <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="<%=GetLocalResourceObject("SearchCanada")%>">
                                    <datalist id="wb-srch-q-ac">
                                    </datalist>
                                </div>
                                <div class="form-group submit">
                                    <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv"><%=GetLocalResourceObject("Search")%></span></button>
                                </div>
                            </div>
                        </section>
                    </asp:PlaceHolder>
                </div>
            </div>
        </header>
        <nav class="gcweb-menu" typeof="SiteNavigationElement">
            <div class="container">
                <h2 class="wb-inv"><%=GetLocalResourceObject("Menu")%></h2>
                <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv"><%=GetLocalResourceObject("Main")%> </span><%=GetLocalResourceObject("Menu")%> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
                <ul role="menu" aria-orientation="vertical" data-ajax-replace="./MasterPages/themes-dist-6.0-gcweb/ajax/sitemenu-v5-<%=this.Language %>.html"></ul>
            </div>
        </nav>
        <nav id="wb-bc" property="breadcrumb">
            <h2><%=GetLocalResourceObject("YouAreHere")%></h2>
            <div class="container">
                <ol class="breadcrumb">
                    <asp:SiteMapPath ID="smPath" SiteMapProvider="BreadCrumbSitemapProvider" runat="server" RenderCurrentNodeAsLink="true"></asp:SiteMapPath>
                </ol>
            </div>
        </nav>
        <main property="mainContentOfPage" class="container" typeof="WebPageElement">
            <section class="container">
                <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
            </section>
            <div class="pagedetails container">
                <dl id="wb-dtmd">
                    <dt><%=GetLocalResourceObject("DateModified")%></dt>
                    <dd><time property="dateModified"><%=this.PageDateModified %></time></dd>
                </dl>
            </div>
        </main>
        <footer id="wb-info">
            <div class="landscape">
                <nav class="container wb-navcurr">
                    <h2 class="wb-inv"><%=GetLocalResourceObject("AboutGovernment")%></h2>
                    <ul class="list-unstyled colcount-sm-2 colcount-md-3" data-ajax-replace="./MasterPages/themes-dist-6.0-gcweb/ajax/footer-info-<%=this.Language %>.html"></ul>
                </nav>
            </div>
            <div class="brand">
                <div class="container">
                    <div class="row">
                        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                            <h2 class="wb-inv"><%=GetLocalResourceObject("AboutThisSite")%></h2>
                            <ul data-ajax-replace="./MasterPages/themes-dist-6.0-gcweb/ajax/footer-brand-<%=this.Language %>.html"></ul>
                        </nav>
                        <div class="col-xs-6 visible-sm visible-xs tofpg">
                            <a href="#wb-cont"><%=GetLocalResourceObject("TopOfPage")%><span class="glyphicon glyphicon-chevron-up"></span></a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                            <object id="wmms-blk" type="image/svg+xml" data="./MasterPages/themes-dist-6.0-gcweb/GCWeb/assets/wmms-blk.svg" role="img" tabindex="-1" aria-label="<%=GetLocalResourceObject("SymbolGovernmentCanada")%>"></object>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--[if gte IE 9 | !IE ]><!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        <script src="./MasterPages/themes-dist-6.0-gcweb/wet-boew/js/wet-boew.min.js"></script>
        <!--<![endif]-->
        <!--[if lt IE 9]>
		        <script src="themes-dist-6.0-gcweb/wet-boew/js/ie8-wet-boew2.min.js"></script>
		<![endif]-->
        <script src="./MasterPages/themes-dist-6.0-gcweb/GCWeb/js/theme.min.js"></script>
    </form>
</body>
</html>
